
Builds/VisualStudio2019/.vs/TalkBackSwitch/v16/.suo
Builds/VisualStudio2019/.vs/TalkBackSwitch/v16/Browse.VC.db
Builds/VisualStudio2019/.vs/TalkBackSwitch/v16/ipch/AutoPCH/2a300e7423a28b27/MAIN.ipch
Builds/VisualStudio2019/.vs/TalkBackSwitch/v16/ipch/AutoPCH/5a4782fa6069dde4/MAINCOMPONENT.ipch
Builds/VisualStudio2019/resources.rc
Builds/VisualStudio2019/TalkBackSwitch.sln
Builds/VisualStudio2019/TalkBackSwitch_App.vcxproj
Builds/VisualStudio2019/TalkBackSwitch_App.vcxproj.filters
Builds/VisualStudio2019/TalkBackSwitch_App.vcxproj.user
Builds/VisualStudio2019/x64/Debug/App/include_juce_core.obj
Builds/VisualStudio2019/x64/Debug/App/include_juce_data_structures.obj
Builds/VisualStudio2019/x64/Debug/App/include_juce_events.obj
Builds/VisualStudio2019/x64/Debug/App/include_juce_graphics.obj
Builds/VisualStudio2019/x64/Debug/App/include_juce_gui_basics.obj
Builds/VisualStudio2019/x64/Debug/App/Main.obj
Builds/VisualStudio2019/x64/Debug/App/MainComponent.obj
Builds/VisualStudio2019/x64/Debug/App/resources.res
Builds/VisualStudio2019/x64/Debug/App/TalkBack.36B76C46.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/App/TalkBack.36B76C46.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/App/TalkBack.36B76C46.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/App/TalkBack.36B76C46.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Debug/App/TalkBack.36B76C46.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/App/TalkBack.36B76C46.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/App/TalkBack.36B76C46.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Debug/App/TalkBack.36B76C46.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Debug/App/TalkBack.36B76C46.tlog/rc.write.1.tlog
Builds/VisualStudio2019/x64/Debug/App/TalkBack.36B76C46.tlog/TalkBackSwitch_App.lastbuildstate
Builds/VisualStudio2019/x64/Debug/App/TalkBackSwitch.exe
Builds/VisualStudio2019/x64/Debug/App/TalkBackSwitch.exe.recipe
Builds/VisualStudio2019/x64/Debug/App/TalkBackSwitch.ilk
Builds/VisualStudio2019/x64/Debug/App/TalkBackSwitch.pdb
Builds/VisualStudio2019/x64/Debug/App/TalkBackSwitch_App.log
Builds/VisualStudio2019/x64/Debug/App/TalkBackSwitch_App.vcxproj.FileListAbsolute.txt
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/ReadMe.txt
Builds/VisualStudio2019/.vs/TalkBackSwitch/v16/Browse.VC.opendb
Builds/VisualStudio2019/.vs/TalkBackSwitch/v16/Browse.VC.db-wal
Builds/VisualStudio2019/.vs/TalkBackSwitch/v16/Browse.VC.db-shm
Builds/VisualStudio2019/x64/Debug/App/UiHandling.obj
Builds/VisualStudio2019/.vs/TalkBackSwitch/v16/ipch/AutoPCH/7378b3cc71760715/UIHANDLING.ipch
